.App {
  background: var(--color-gray);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
}

h1 {
  color: rgb(4, 14, 22);
  font-size: 1.5rem;
  margin-bottom: 2px;
  padding: 0.25rem;
  text-align: center;
}

p {
  color: rgb(229, 236, 241);
  font-size: 1.5rem;
  margin-bottom: 2px;
  padding: 0.25rem;
  text-align: center;
}
